.button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fafafa;
}

.sort-button {
  font-weight: 900;
}

.sort {
  margin: 1rem 0;
  text-align: right;
}
