@import '../../shared/variables.scss';
@import '../../shared/mixins.scss';
.stock-grid {
  width: 100%;
  border-collapse: collapse;
}

th {
  font-weight: 700;
  text-align: left;
  font-size: 0.75em;
  color: $borderColor;
  display: none;
}

thead > tr {
  @include breakpoint('medium') {
    display: table-header-group;
  }
}
